{% extends 'base.html.twig' %}

{% block body %}
    <div class="row content">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 fos-user">
            {% block fos_oauth_server_content %}{% endblock %}
        </div>
    </div>
{% endblock %}