{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'profile.show.username'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ user.username }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'profile.show.email'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ user.email }}</p>
            </div>
        </div>
    </form>
</div>
