{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Metagame</h1>
        <p class="lead">Account Provider for NetrunnerDB, ThronesDB and FiveRingsDB.</p>
        <p><a class="btn btn-lg btn-primary" href="{{ path('fos_user_registration_register') }}" role="button">Sign up
                today</a></p>
    </div>

    <div class="row content">
        <div class="col-lg-6">
            <h4 style="color: #f80e64"><span class="fa fa-cloud"></span> Save</h4>
            <p>Build decks in our deckbuilders using your Metagame account.</p>

            <h4 style="color: #ee2651"><span class="fa fa-share"></span> Publish</h4>
            <p>Publish your decks to show your best ideas and generate discussion.</p>

            <h4 style="color: #e53b40"><span class="fa fa-comment"></span> Comment</h4>
            <p>Browse the published decks and give your feedback.</p>
        </div>

        <div class="col-lg-6">
            <h4 style="color: #e43b3f"><span class="fa fa-heart"></span> Like</h4>
            <p>Show some love! Most liked deck becomes Decklist of the Week.</p>

            <h4 style="color: #db502f"><span class="fa fa-user-plus"></span> Follow</h4>
            <p>Follow your friends, or your idols. Be notified of their activity.</p>

            <h4 style="color: #da532c"><span class="fa fa-retweet"></span> Share</h4>
            <p>Share a deck with your followers. It will appear on their front page.</p>
        </div>
    </div>
{% endblock %}
