{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>MetaGame</h1>
        <p class="lead">Identity Provider for Card Game Players</p>
        <p><a class="btn btn-lg btn-primary" href="{{ path('fos_user_registration_register') }}" role="button">Sign up
                today</a></p>
    </div>

    <div class="row content">
        <div class="col-sm-6 col-lg-4 col-lg-offset-1">
            <h4><span class="fa fa-fw fa-cloud"></span> Save</h4>
            <p>Build decks in our deckbuilders using your Metagame account.</p>

            <h4><span class="fa fa-fw fa-share"></span> Publish</h4>
            <p>Publish your decks to show your best ideas and foster discussion.</p>

            <h4><span class="fa fa-fw fa-comment"></span> Comment</h4>
            <p>Browse the published decks and give your feedback.</p>
        </div>

        <div class="col-sm-6 col-lg-4 col-lg-offset-2">
            <h4><span class="fa fa-fw fa-heart"></span> Like</h4>
            <p>Show some love! The most-liked deck wins &ldquo;Decklist of the Week&rdquo;.</p>

            <h4><span class="fa fa-fw fa-user-plus"></span> Follow</h4>
            <p>Follow your friends, or your idols. Be notified of their activity.</p>

            <h4><span class="fa fa-fw fa-retweet"></span> Share</h4>
            <p>Share a deck with your followers. It will appear on their front page.</p>
        </div>
    </div>
{% endblock %}
