# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # Email sender
    email_sender_address: ~
    email_sender_name: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Life of a token sent to reset a password (seconds)
    resetting_token_ttl: 86400

    # Oauth2 credentials for the test app (redirect /sandbox/callback)
    oauth_test_client_id: ~
    oauth_test_client_secret: ~

    # Oauth2 servers
    oauth_known_servers:
      - netrunnerdb
      - thronesdb

    # Oauth2 credentials for NetrunnerDB (redirect /auth/callback/netrunnerdb)
    oauth_netrunnerdb_url: https://netrunnerdb.com
    oauth_netrunnerdb_profile_api: /api/2.0/private/account/info
    oauth_netrunnerdb_client_id: ~
    oauth_netrunnerdb_client_secret: ~

    # Oauth2 credentials for ThronesDB (redirect /auth/callback/thronesdb)
    oauth_thronesdb_url: https://thronesdb.com
    oauth_thronesdb_profile_api: /api/oauth2/user
    oauth_thronesdb_client_id: ~
    oauth_thronesdb_client_secret: ~
