body {
    background-image: url('./background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.jumbotron {
    text-align: center;
}

.content {
    text-shadow: 0 0 2px black;
}

.header {
    font-size: small;
}

.nav-pills > li {
    padding: 15.5px 0;
}

.footer {
    margin-top: 50px;
    text-align: center;
}
