{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}